# libs necessárias
Flask==3.1.3
flask-cors==6.0.2
flask-openapi3==4.3.1
SQLAlchemy==2.0.48
pydantic==2.12.5
requests==2.32.5
# documentação disponível
flask-openapi3-elements==9.0.15
flask-openapi3-rapidoc==9.3.8
flask-openapi3-rapipdf==2.2.1
flask-openapi3-redoc==2.5.2
flask-openapi3-scalar==1.44.15
flask-openapi3-swagger==5.31.0